body, html, document, a, a:hover {cursor:none}
body {background:#fff4f6;}

#giant_cursor {
	background	:url(http://onur.ws/giant_cursor/img/arrow.png) no-repeat;
	width		:48px;
	height		:48px;
	position	:absolute;
	top		:10px;
	left		:10px;
}